@use '_vars' as *;


@mixin heading {
    width: 100%;
    height: 275px;
}
@mixin flexy {
    display: flex;
    justify-content: space-between;
}
@mixin sectionHeading {
    font-size: $h2Size;
    color: $headerColor;
}
@mixin bar {
    width: 60px;
    height: 5px;
    background-color: $textColor;
}