@use '_vars' as *;
@use '_mixin' as *;

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
body, section {
    margin: 0;
    padding: 0;
}
.building {
    @include heading;
    background-image: url(photos/building.jpg);
    background-size: cover;
    z-index: -1;
}
.gradient {
    background: rgb(1,0,255);
    background: linear-gradient(135deg, rgba(1,0,255,0.25) 0%, rgba(239,255,0,0.25) 100%);
    z-index: 1;
    @include heading;
    @include flexy;
    justify-content: center;
}
.inner {
    @include heading;
    @include flexy;
    align-items: center;
    width: 75%;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #af45dc;
        object-fit: cover;
    }
}
h1 {
    color: $headerColor;
    font-size: 3em;
    margin: 0;
}
.name p {
    color: $headerColor;
    size: $h2Size;
}
.information {
    @include flexy;
    padding-bottom: 2rem;
    justify-content: center;
    width: 100%;
    padding-top: 2em;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.25) 40%, rgba(239,239,239,1) 40%);
}
.bar {
    @include bar;
}
.contact {
    @include flexy;
    justify-content: flex-start;
    align-items: center;
}
.pin {
    background-image: url(photos/pin.png);
    background-size: cover;
}
.letter {
    background-image: url(photos/mail.png);
    background-size: cover;
}
.phone {
    background-image: url(photos/phone.png);
    background-size: cover;
}
.linked {
    background-image: url(photos/link.png);
    background-size: cover;
}
.contact p {
    padding-left: .7rem;
}
.personalInfo {
    width: 35%;
}
.contactInfo {
    @include flexy;
    justify-content: center;
    flex-direction: column;
}
.icon {
    width: 20px;
    height: 20px;
    background-color: #4F4F4F;
}
.experiance {
    width: 55%;
    background-color: $experienceColor;
}
.info {
    @include flexy;
    width: 85%
}
.break {
    color: $textColor;
    letter-spacing: $spaced;
    text-transform: uppercase;
}
.company {
    color: $companyColor;
    margin-bottom: .2rem;
}
.bold {
    color: $companyColor;
    font-weight: bold;
}
.information p, .gray {
    color: $textColor;
}
.date {
    margin-top: 0;
}